<div class="row">
    <div class="col-md-{{col}}" >

        <!-- FORM -->
        <form ng-submit="processForm()">


            <div class="form-group">
                <textarea style="resize:none;" rows="15" class="form-control" ng-model="formData.content" placeholder="输入一些内容"></textarea>

                <ul class="pagination">
                    <li><a href=""  ng-click="code()"><span class="glyphicon glyphicon-superscript"></span></a></li>
                    <li><a href="" ng-click="pre()"><span class="glyphicon glyphicon-console" ></span></a></li>
                    <li><a href="" ng-click="link()"><span class="glyphicon glyphicon-link" ></span></a></li>
                    <li><a href="" ngf-select ng-model="files" ngf-multiple="multiple"><span class="glyphicon glyphicon-picture"></span></a></li>
                    <li>
                        <a href="" ng-hide="editView" ng-click="toggle()">
                            <span class="glyphicon glyphicon-eye-open"></span>
                        </a>
                        <a href="" ng-hide="!editView"  ng-click="toggle()">
                            <span class="glyphicon glyphicon glyphicon-eye-close"></span>
                        </a>
                    </li>

                    <!-- SUBMIT BUTTON -->
                    <li><a href=""><span class="glyphicon glyphicon-floppy-save"  ng-click="saveForm()"></span></a></li>
                </ul>

                <pre>{{log}}</pre>
            </div>


        </form>

    </div>

    <!-- SHOW DATA FROM INPUTS AS THEY ARE BEING TYPED -->
    <div  class="col-md-6"  ng-hide="editView" ng-bind-html="formData.content | trustHtml" style="white-space: pre">

    </div>
</div>


<br>
<!-- SHOW ERROR/SUCCESS MESSAGES -->
<div id="messages" class="well" ng-show="message">{{ message }}</div>
