
    <!--div class="page-header">
        <h1>Bootstrap grid examples</h1>
        <p class="lead">Basic grid layouts to get you familiar with building within the Bootstrap grid system.</p>
    </div-->


<section>
<article  ng-repeat="x in lists">
    <header>
        <h2 class="page-header"><a href="/detail/{{ x.id }}"   ng-bind-html="x.title">Bootstrap grid examples</a> <small>{{ x.time }}</small></h2>
    </header>
    <p class="lead" ng-bind-html="x.description"></p>
</article>


</section>
    <!--nav>
        <ul class="pager">
            <li class="previous"><a href="#">Previous</a></li>
            <li class="previous"><a href="#">Next</a></li>
        </ul>
    </nav-->