<div ng-controller="MyCtrl">Username
    <input type="text" ng-model="username"></br></br>
    <input type="checkbox" ng-model="multiple">upload multiple file</br></br>
    watching model:
    <div ngf-select ng-model="files" ngf-multiple="multiple">[img][/img]</div>
    on file change:
    <div class="button" ngf-allow-dir="true" ngf-select ngf-change="upload($files)" ngf-multiple="multiple">Select File</div>
    Drop File:
    <div ngf-drop ngf-select ng-model="files" class="drop-box"
         ngf-drag-over-class="dragover" ngf-multiple="true" ngf-allow-dir="true"
         accept="image/*,application/pdf">Drop pdfs or images here or click to upload</div>
    <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
    Files:
    <ul>
        <li ng-repeat="f in files" style="font:smaller">{{f.name}}</li>
    </ul>
    Upload Log:
    <pre>{{log}}</pre>
</div>